@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "nav.scss";
@import "resume-item.scss";
@import "bootstrap-overrides.scss";

$maroon:    #800000;
$good_grey: #767676;
$primary:   $maroon;
$secondary:    $good_grey;


@import "resume.scss";
